.back {
    position: absolute;
    left: 75px;
    margin-top: 30px;
}

.main-container {
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
}

.order-info {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 60%;
    height: 90vh;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #0077c2;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: 800;
}

.back a {
    color: #004e8c;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.back a:hover {
    color: #0077c2;
    text-decoration: underline;
}

.flex-column-1 {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-column-2 {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    align-items: center;
}

.order-details {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.order-detail {
    margin-bottom: 10px;
}

.order-detail-label {
    font-weight: bold;
    margin-right: 10px;
    font-size: large;
}

.order-detail-value {
    color: #333;
    font-size: large;
}


.view-progress-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.view-progress-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.step-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #555;
    font-size: 1.2rem;
    font-weight: bold;
}

.view-progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    text-align: center;
    min-height: 3rem;
    position: relative;
    left: 100%;
    bottom: 50%;
}

.step-title {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #555;
}

.step-line {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    border-left: 1px solid #ccc;
}

.completed .step-number {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.step-line.completed {
    border-color: #007bff;
}

.completed .step-title {
    color: #007bff;
}

#editButton.btn {
    height: 4rem;
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    left: 50%;
}

#editButton.btn:hover {
    background-color: #0069d9;
}

.reactor-cycle-table {
    background-color: #f2f2f2;
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
}

.reactor-cycle-table caption {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.reactor-cycle-table th {
    height: 50px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
}

.reactor-cycle-table td {
    height: 50px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.reactor-cycle-table tr:has(input[type="radio"]:checked) {
    background: rgb(227, 171, 68);
}

.grid {
    display: block;
    flex-direction: column;
    margin: 20px auto;
    width: 30%;
    height: auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

button.cancelled-btn {
    background-color: red;
    padding: 0.6rem;
    width: 7rem;
    color: #fff;
    border-radius: 20px;
    border: none;
    margin-bottom: 1rem;
}

.cancelled-step-number {
    color: #cccccc
}