<link rel="stylesheet" href="change-password.component.css">

<div class="body">
  <div class="container">
    <h1>Change Password</h1>
    <form [formGroup]="ChangePass" (ngSubmit)="changepass()" method="post">

      <div class="txt_field">
        <input type="password" formControlName="password">
        <label>Enter New Password</label>
        <div class="inline-error" *ngIf="this.isAttempted || (ChangePass.get('password')!.invalid && (ChangePass.get('password')!.touched))">
          <div *ngIf="ChangePass.get('password')!.errors?.['required']">
             password is required
          </div>
      </div>
      </div>

      <input type="submit" value="Change Password">
      
    </form>
  </div>
</div>