h1 {
  color: blue;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: 800;
}

.profile-info {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 800px;
  height: 80vh;
  padding: 20px;
  text-align: center;
}

h2 {
  color: #0077c2;
  text-align: left;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}

.flex-row-1 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-row-2 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  margin-right: 15%;
  align-items: center;
}

.profile-details {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  max-width: 70vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profile-detail {
  margin-bottom: 10px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:read-only {
  background-color: #eee;
}

.inline-error {
  margin-top: 5px;
}
.btn{
  display: flex;
  justify-content: center;
}

button[type="submit"],
button {
  align-items: center;
  padding: 8px 16px;
  background-color: rgb(0, 0, 255);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button[type="submit"]:hover,
button:hover {
  background-color: rgb(62, 129, 191);
}

.inline-error small {
  color: red;
}