<link rel="stylesheet" href="forget-password.component.css">

<div class="body">
    <div class="container">
        <h1>Forget Password</h1>      
        <form [formGroup]="FrgtPass" (ngSubmit)="frgtpass()" method="post">

            <div class="txt_field">
                <input type="email" formControlName="email">
                <label>Email</label>
                <div class="inline-error" *ngIf="this.isAttempted || (FrgtPass.get('email')!.invalid && (FrgtPass.get('email')!.touched))">
                    <div *ngIf="FrgtPass.get('email')!.errors?.['required']">
                       Email is required
                    </div>
                    <div *ngIf="FrgtPass.get('email')!.errors?.['email']">
                       Enter a valid email address
                    </div>
                </div>
            </div>
            
            <input type="submit" value="Forgot Password">

        </form>
    </div>
</div>
